*~
*pyc
dist/
data/*
!data/examples
!data/test
docs/_build
server/
scala/
mongodb/
.cache/
build/
*.egg-info/
jnk/
logs/
tmp/
profile.*
*.sqlite
*npy
*#
/config.json
*log.json
.coverage
.coveralls.yml
.idea/
*.iml
out/
.vscode/
tmp_training_data.json
.DS_Store
models/
projects/
test_models/model_*
test_projects/test_project_*

sbahn_ticker.zip
.env
node_modules
.requirements/
